{% extends "base.html" %}

{% block app_content %}
    {% if deleted_groups_table is defined %}
        <h1>Удалённые группы</h1>

        <table id="deleted_groups_table" class="table table-striped">
            <thead>
                <tr>
                    <th>Организация</th>
                    <th>Факультет</th>
                    <th>Группа</th>
                    <th>Tag</th>
                </tr>
            </thead>
            <tbody>
                {% for group in deleted_groups_table %}
                    <tr>
                        <td>{{ group.organization }}</td>
                        <td>{{ group.faculty }}</td>
                        <td>{{ group.group }}</td>
                        <td>{{ group.tag }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h1>Удаление выпустившихся групп</h1>

    <div class="alert alert-info" role="alert">
        Удаление данных может занять время. Пожалуйста, не перезагружайте страницу после отправки формы
    </div>

    {{ wtf.quick_form(form) }}
{% endblock %}